<h1>Show</h1>
<p><%= link_to '一覧', posts_path %></p>
<% if params[:rails] %>
    <h2>標準</h2>
    <p>&lt;input value=&quot;&lt;%= @post.name %&gt;&quot;&gt;</p>
    <input value="<%= @post.name %>" size="50">
    <p>&lt;%= @post.post %&gt;</p>
    <p><%= @post.post %></p>
<% else %>
    <h2>ホワイトリスト（改行だけ許可）</h2>
    <p>&lt;input value=&quot;&lt;%= sanitize @post.name %&gt;&quot;&gt;</p>
    <input value="<%= sanitize @post.name %>" size="50">
    <p>&lt;%= @post.post, attributes: [&quot;br&quot;] %&gt;</p>
    <p><%= sanitize @post.post, attributes: ["br"] %></p>
    <h2>Row HTML</h2>
    <p>&lt;input value=&quot;&lt;%= @post.name.html_safe %&gt;&quot;&gt;</p>
    <input value="<%= @post.name.html_safe %>" size="50">
    <p>&lt;%= @post.post.html_safe %&gt;</p>
    <p><%= @post.post.html_safe %></p>
    <h2>Row HTML その2</h2>
    <p>&lt;input value=&quot;&lt;%== @post.name %&gt;&quot;&gt;</p>
    <p>&lt;%== @post.post %&gt;</p>
    <input value="<%== @post.name %>" size="50">
    <p><%== @post.post %></p>
<% end %>
